<p>my-first-component works!</p>

<div *ngIf="persons">
  <ul >
    <li *ngFor="let p of persons">
      <span class = "name" >{{p.name}}</span> - <span>{{p.age}} ans</span>

    </li>
  </ul>
   <table style="width:100%">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Age</th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td>
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td>
    <td>100</td>
  </tr>
</table> 
<nav>
  <a routerLink="/crisis-center" routerLinkActive="active">Crisis Center</a>
</nav>
</div>